:root .theme-cockpit {
	/* FONTS */

	/* BASE COLOURS */
	/* day theme */
	--colour-day-grey-0: #000000;
	--colour-day-grey-6: #888888;
	--colour-day-grey-7: #999999;
	--colour-day-grey-8: #aaaaaa;
	--colour-day-grey-9: #bbbbbb;
	/* night theme */
	--colour-night-grey-0: #bbbbbb;
	--colour-night-grey-6: #333333;
	--colour-night-grey-7: #222222;
	--colour-night-grey-8: #111111;
	--colour-night-grey-9: #000000;

    /* BOX-SHADOW */
    /* internal variables */
    --shadow-length: 2px;
    --shadow-direction-x: -1;
    --shadow-direction-y: 1;
    --shadow-visibility: 50%;
    --shadow-colour: black;
    
    --inset-highlight-colour: rgb(255, 200, 150);
    --bevel-size: 2px;
    --bevel-blur: var(--bevel-size);
    --bevel-visibility: 20%;

    /* external variables */
    --external-shadow:
        color-mix(in hsl, var(--shadow-colour) var(--shadow-visibility), transparent) calc(var(--shadow-length) * var(--shadow-direction-x))
            calc(var(--shadow-length) * var(--shadow-direction-y)) 3px 0,
        rgb(0, 0, 0, var(--shadow-visibility)) 0 0 1px 1px;
    --bevel-1: inset color-mix(in hsl, var(--inset-highlight-colour) var(--bevel-visibility), transparent) calc(var(--bevel-size) * -1) var(--bevel-size) var(--bevel-blur) 0,
			inset color-mix(in hsl, var(--shadow-colour) var(--shadow-visibility), transparent) var(--bevel-size) calc(var(--bevel-size) * -1) var(--bevel-blur) 0;
    --bevel-2: inset color-mix(in hsl, var(--inset-highlight-colour) var(--bevel-visibility), transparent) calc(var(--bevel-size) * -0.5) calc(var(--bevel-size) * 0.5) var(--bevel-blur) calc(var(--bevel-size) * 0.5),
			inset color-mix(in hsl, var(--shadow-colour) var(--shadow-visibility), transparent) calc(var(--bevel-size) * 0.5) calc(var(--bevel-size) * -0.5) var(--bevel-blur) 0;
    --border-radius-tile: calc(var(--bevel-size) * 0.5);

    /* CURSOR */
    .clickable {
        cursor: pointer;
    }

	/* TEXT STYLES */
	body {
		color: var(--text-colour-base);

		h1 {
			color: var(--text-colour-h1);
		}
	}
}
