@import 'tailwindcss';
@import './fonts.css';
@plugin '@tailwindcss/forms';
:root {
	/* FONTS */
	--font-cinzel: 'Cinzel Decorative', serif;
	--font-montserrat: 'Montserrat', sans-serif;
	--font-bellefair: 'Bellefair', serif;

	/* NUMBERS */
	--gr: 1.618;

	/* SPACING */
	--base-spacing: 1rem;
	--base-text-size: calc(var(--base-spacing) * 1);

	--header-height: calc(var(--base-spacing) * 3);
	--page-width: calc(var(--base-text-size) * 50);
}
