@import 'tailwindcss';
@import './fonts.css';
@plugin '@tailwindcss/forms';
:root {
	/* FONTS */
	--font-cinzel: 'Cinzel Decorative', serif;
	--font-montserrat: 'Montserrat', sans-serif;
	--font-bellefair: 'Bellefair', serif;

	/* BASE COLOURS */
	/* day theme */
	--colour-day-grey-0: #000000;
	--colour-day-grey-6: #888888;
	--colour-day-grey-7: #999999;
	--colour-day-grey-8: #aaaaaa;
	--colour-day-grey-9: #bbbbbb;
	/* night theme */
	--colour-night-grey-0: #bbbbbb;
	--colour-night-grey-6: #333333;
	--colour-night-grey-7: #222222;
	--colour-night-grey-8: #111111;
	--colour-night-grey-9: #000000;

	/* NUMBERS */
	--gr: 1.618;

	/* SPACING */
	--base-spacing: 1rem;
	--base-text-size: calc(var(--base-spacing) * 1);

	--header-height: calc(var(--base-spacing) * 3);
	--page-width: calc(var(--base-text-size) * 50);

	/* STYLES */
	body {
		color: var(--text-colour-base);

		h1 {
			color: var(--text-colour-h1);
		}
	}
}

.day-mode {
	/* COLOURS */
	/* text */
	--text-colour-h1: var(--colour-day-grey-0);
	--text-colour-base: var(--colour-day-grey-0);
	/* background */
	--background-colour-base: var(--colour-day-grey-9);
	--background-colour-card: var(--colour-day-grey-8);
	--background-colour-tile: var(--colour-day-grey-7);
	--background-colour-button: var(--colour-day-grey-6);
}

.night-mode {
	/* COLOURS */
	/* text */
	--text-colour-h1: var(--colour-night-grey-0);
	--text-colour-base: var(--colour-night-grey-0);
	/* background */
	--background-colour-base: var(--colour-night-grey-9);
	--background-colour-card: var(--colour-night-grey-8);
	--background-colour-tile: var(--colour-night-grey-7);
	--background-colour-button: var(--colour-night-grey-6);
}
