@import 'tailwindcss';
@import './fonts.css';
@import '../app.css';
@plugin '@tailwindcss/forms';

:root {
	/* NUMBERS */
	--gr: 1.618;

	/* SPACING */
	--base-spacing: 1rem;
	--base-text-size: calc(var(--base-spacing) * 1);

	--header-height: calc(var(--base-spacing) * 3);
	--page-width: calc(var(--base-text-size) * 50);
}
