:root[data-theme="cockpit-dark"] {
   --bevel-1: inset                             color-mix(in hsl, rgb(255, 200, 150) 20%, transparent)                             calc(2px * -1)                             calc(2px * 1)                             2px                             0,                        inset                             color-mix(in hsl, black 50%, transparent)                             calc(2px * 1)                             calc(2px * -1)                             2px                             0; 
   --bevel-2: inset                             color-mix(in hsl, rgb(255, 200, 150) 20%, transparent)                             calc(2px * -0.5)                             calc(2px * 0.5)                             2px                             calc(2px * 0.5),                        inset                             color-mix(in hsl, black 50%, transparent)                             calc(2px * 0.5)                             calc(2px * -0.5)                             2px                             0; 
   --bevel-external-shadow: color-mix(in hsl, black 50%, transparent)                             calc(2px * -1)                            calc(2px * 1)                             3px                             0,                        rgb(0, 0, 0, 50%) 0 0 1px 1px; 
   --bevel-border-radius-tile: calc(2px * 0.5); 
   --colours-b-0: #2a2b2a; 
   --colours-b-1: #3F403F; 
   --colours-b-2: #343c32; 
   --colours-b-3: #9FB8AD; 
   --colours-t-0: #CED0CE; 
   --colours-t-1: #E6E8E6; 
   --colours-error: #B3001B; 
   --colours-alert: #DD6031; 
   --colours-warn: #FF8811; 
   --colours-positive: #29BF12; 
   --colours-info: #507DBC; 
   --colours-temp: #5E0B15; 
   --colours-temp2: #A8763E; 
   --colours-temp3: #DB504A; 
}

:root[data-theme="cockpit-light"] {
   --bevel-1: inset                             color-mix(in hsl, rgb(253, 255, 150) 20%, transparent)                             calc(2px * 1)                             calc(2px * 1)                             2px                             0,                        inset                             color-mix(in hsl, black 50%, transparent)                             calc(2px * -1)                             calc(2px * -1)                             2px                             0; 
   --bevel-2: inset                             color-mix(in hsl, rgb(253, 255, 150) 20%, transparent)                             calc(2px * 0.5)                             calc(2px * 0.5)                             2px                             calc(2px * 0.5),                        inset                             color-mix(in hsl, black 50%, transparent)                             calc(2px * -0.5)                             calc(2px * -0.5)                             2px                             0; 
   --bevel-external-shadow: color-mix(in hsl, black 50%, transparent)                             calc(2px * 1)                            calc(2px * 1)                             3px                             0,                        rgb(0, 0, 0, 50%) 0 0 1px 1px; 
   --bevel-border-radius-tile: calc(2px * 0.5); 
   --colours-b-0: #E6E8E6; 
   --colours-b-1: #CED0CE; 
   --colours-b-2: #9FB8AD; 
   --colours-b-3: #475841; 
   --colours-t-0: #3F403F; 
   --colours-t-1: #2a2b2a; 
}

:root[data-theme="retro-dark"] {
   --bevel-1: rgb(0, 0, 0, 0) 0 0 0 0; 
   --bevel-2: rgb(0, 0, 0, 0) 0 0 0 0; 
   --bevel-external-shadow: rgb(0, 0, 0, 0) 0 0 0 0; 
   --bevel-border-radius-tile: 0; 
   --colours-b-0: #0f0f0f; 
   --colours-b-1: color-mix(in hsl, #0f0f0f 97.5%, #e8cff3); 
   --colours-b-2: color-mix(in hsl, #0f0f0f 95%, #e8cff3); 
   --colours-b-3: color-mix(in hsl, #0f0f0f 92.5%, #e8cff3); 
   --colours-t-1: color-mix(in hsl, #e8cff3 95%, #0f0f0f); 
   --colours-t-0: #e8cff3; 
   --fonts-base: quantico-regular; 
   --fonts-header: synemono-regular; 
   --fonts-subheader: turretroad-bold; 
}

:root[data-theme="retro-light"] {
   --bevel-1: rgb(0, 0, 0, 0) 0 0 0 0; 
   --bevel-2: rgb(0, 0, 0, 0) 0 0 0 0; 
   --bevel-external-shadow: rgb(0, 0, 0, 0) 0 0 0 0; 
   --bevel-border-radius-tile: 0; 
   --colours-b-0: #e8cff3; 
   --colours-b-1: color-mix(in hsl, #e8cff3 97.5%, #0f0f0f); 
   --colours-b-2: color-mix(in hsl, #e8cff3 95%, #0f0f0f); 
   --colours-b-3: color-mix(in hsl, #e8cff3 92.5%, #0f0f0f); 
   --colours-t-1: color-mix(in hsl, #0f0f0f 95%, #e8cff3); 
   --colours-t-0: #0f0f0f; 
   --fonts-base: quantico-regular; 
   --fonts-header: synemono-regular; 
   --fonts-subheader: turretroad-bold; 
}