@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Cinzel+Decorative:wght@400;700;900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* @font-face {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
  src: url("../public/fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf")
    format("truetype");
} */

@theme {
  --font-cinzel: "Cinzel Decorative", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-bellefair: "Bellefair", serif;
}

html,
body {
  position: fixed;
  top: 0;
  left: 0;
}
